<h2>Log In</h2>
<%= form_tag sessions_path do %>
  <%= label :user, :username %>
  <%= text_field :user, :username %>

  <%= label :user, :password %>
  <%= password_field :user, :password %>

  <%= submit_tag "Log In" %>
<% end %>
